@use "tailwindcss";
/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import "@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "@ionic/angular/css/normalize.css";
@import "@ionic/angular/css/structure.css";
@import "@ionic/angular/css/typography.css";
@import "@ionic/angular/css/display.css";

/* Optional CSS utils that can be commented out */
@import "@ionic/angular/css/padding.css";
@import "@ionic/angular/css/float-elements.css";
@import "@ionic/angular/css/text-alignment.css";
@import "@ionic/angular/css/text-transformation.css";
@import "@ionic/angular/css/flex-utils.css";

/**
 * Ionic Dark Mode
 * -----------------------------------------------------
 * For more info, please see:
 * https://ionicframework.com/docs/theming/dark-mode
 */

/* @import "@ionic/angular/css/palettes/dark.always.css"; */
/* @import "@ionic/angular/css/palettes/dark.class.css"; */
@import "@ionic/angular/css/palettes/dark.system.css";


.google-map-sheet-under-tabbar {
  z-index: 999 !important; // ต่ำกว่ tab bar
}

/* Custom Toast Styles */
.custom-toast {
  --background: #ffffff;
  --color: #1f2937; /* gray-800 */
  --border-radius: 12px;
  --box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
  --button-color: #6b7280; /* gray-500 */
  
  font-weight: 500;
  
  &.success-toast {
    --start: 12px;
    --border-width: 0 0 0 6px;
    --border-style: solid;
    --border-color: #10b981; /* green-500 */
    
    ion-icon {
      color: #10b981;
      font-size: 24px;
      margin-right: 8px;
    }
  }

  &.error-toast {
    --start: 12px;
    --border-width: 0 0 0 6px;
    --border-style: solid;
    --border-color: #ef4444; /* red-500 */

    ion-icon {
      color: #ef4444;
      font-size: 24px;
      margin-right: 8px;
    }
  }
}
